
<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>{{pageTitle}}</nb-card-header>
      <nb-card-body>
        <form class="add-edit-form" *ngIf="changePasswordFormGroup" [formGroup]="changePasswordFormGroup">
          <div class="form-group row">
            <label for="inputCurrentPassword" class="label col-sm-3 col-form-label">Current Password</label>
            <div class="col-sm-9">
              <input type="password"
                      nbInput
                      formControlName="currentPassword"
                      fullWidth
                      id="inputCurrentPassword"
                      fieldSize="medium"
                      placeholder="Current password"
                    >
                    <ngx-validation-message label="Current password" [showRequired]="currentPassword?.errors?.required && currentPassword.touched"></ngx-validation-message>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputNewPassword" class="label col-sm-3 col-form-label">New Password</label>
            <div class="col-sm-9">
              <input type="password"
                      nbInput
                      formControlName="newPassword"
                      fullWidth
                      id="inputNewPassword"
                      fieldSize="medium"
                      placeholder="Password"
                    >
                    <ngx-validation-message label="Password" [showMinLength]="newPassword?.hasError('minlength') && newPassword.touched"
                      [showMaxLength]="newPassword?.hasError('maxlength') && newPassword.touched"
                      [showRequired]="newPassword?.errors?.required && newPassword.touched"
                      [minLength]="minLength"
                      [maxLength]="maxLength">
                    </ngx-validation-message>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputConfirmPassword" class="label col-sm-3 col-form-label">Confirm Password</label>
            <div class="col-sm-9">
              <input type="password"
                      nbInput
                      formControlName="confirmPassword"
                      fullWidth
                      id="inputConfirmPassword"
                      fieldSize="medium"
                      placeholder="Confirm Password"
                    >
                    <ngx-validation-message label="Confirm [assword" [showMinLength]="confirmPassword?.hasError('minlength') && confirmPassword.touched"
                      [showMaxLength]="confirmPassword?.hasError('maxlength') && confirmPassword.touched"
                      [showRequired]="confirmPassword?.errors?.required && confirmPassword.touched"
                      [minLength]="minLength"
                      [maxLength]="maxLength">
                    </ngx-validation-message>
                    <p class="caption status-danger" *ngIf="newPassword.value != confirmPassword.value">
                      Password and confirm password does not match!
                  </p>
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="primary" type="button"
        [disabled]="!changePasswordFormGroup.valid || submitted
        || newPassword.value != confirmPassword.value" [nbSpinner]="loading" nbSpinnerStatus="control" size="medium" style="float: right" (click)="update()">Update</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>


